<h1 class="fs-3 text-center shadow-sm p-3 mb-0 bg-body rounded">TASK -- LIST</h1>
<div>
  <h1 class="fs-3 text-center shadow-sm p-3 mb-0 bg-body rounded">Formulario</h1>
  <app-tasks-form></app-tasks-form>
</div>
<div class="row mt-3">
  <div class="col-6">
    <h1 class="fs-3 text-center shadow-sm p-3 mb-0 bg-body rounded">Lista de Tareas</h1>
    <app-task-list></app-task-list>
  </div>
  <div class="col-6">
    <h1 class="fs-3 text-center shadow-sm p-3 mb-0 bg-body rounded">Realizar Tareas</h1>
    <app-realize-tasks></app-realize-tasks>
  </div>
</div>
